$rojito: rgba(255, 0, 0, 0.712);
$letraT : 50px;
$letraS: 32px;



/* IMAGEN DE FONDO */
body{
    background-color: #06a6f0d7;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* TITULO DE PAGINAS*/
.tituloFunko{
    background-color: rgba(0, 0, 0, 0.849);
    font-family: fantasy; color:orange;
    width: 320px;
    border: 5px solid rgba(255, 166, 0, 0.945);
    padding: 50px;
    margin: auto ; 
    position: relative;
    text-align: center;
    animation: colores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes colores{
    0%   {background-color: red;}
    25%  {background-color: blue;}
    50%  {background-color: yellow;}
    75% {background-color: green;}
}
/* NAVEGADOR */
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 75px; 
}
ul li {
    font-family: 'Franklin Gothic Medium';
    list-style: none;
    padding: 25px;
}
ul li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
ul li :hover{
    color: orange;
}
/* MAIN */
#padreFlex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;}
h2{
    font-size: 35px ;
    color: rgba(13, 13, 14, 0.863);
    text-align: center;
    padding: 30px;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
/* animacion h2 */
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
h3{
    color: rgba(248, 232, 2, 0.938);
    text-align: center;
}


/*  LOS DOS DIV PRINCIPALES*/

.masPopulares {
    background-color: rgba(0, 0, 0, 0.76) ;
    width: 850px;
    height: 700px;
    border: 3px solid rgba(34, 124, 228, 0.747);
    border-radius: 7px;
    padding: 50px; 
    overflow: scroll;
    transform:translate(10px,10px);
}
.masPopulares__tit{
    font-size: $letraT;
    color: $rojito;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.masPopulares__sub{
    font-size: $letraS;

}

.recientes{
    background-color: rgba(0, 0, 0, 0.76);
    width: 850px;
    height: 700px;
    border: 3px solid rgba(43, 223, 82, 0.747);
    border-radius: 7px;
    padding: 50px;
    overflow: scroll;
    transform:translate(10px,10px);
}
/* LICENCIAS */
#licencias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    text-decoration: none;
    color: violet;
    
}

#licencias :hover{
    color: orange;
}

p{
    color: rgba(43, 42, 41, 0.733);
    font-size: 25px;
    font-family: 'Lucida Sans';
    text-align: center;
}
/*categorias de figuras */
#categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    color: violet;
}
#categorias :hover{
    color: orange;
}

/* PIE DE PAGINA */
.social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
}
footer{
    background-image: url(../imagenfunko/wppinsta.jpg);
    background-position: center;
}
ul li a {
    background: hsla(24, 97%, 70%, 0.377);
    border-radius: 4px;
}


/* EDICION PAGINAS CONTACTO */
.encargues{
    padding: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
}
/* EDICION PAGINA HARRY POTTER */
.primeraSerie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    justify-items: center;
}
.segundaSerie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    justify-items: center;
}
.listadoPrimero ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
.listadoPrimero ul li{
    font-size: 20px;
    color: rgb(22, 15, 15);
    justify-content: center;
}


/* EDICION PAGINA MARVEL */

.marvelEngGame{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    justify-items: center;
}
.marvelConocidos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    justify-items: center;
}

/* BOTON ENVIAR DE PAGINA CONTACTO */
.boton{
    background-color: lightcoral;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 40px;
    cursor: pointer;
}
.boton{
    border-radius: 4px;
}
/* EDICION PAGINA DC COMICS */
.comicon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    justify-items: center;
}
/* edicion de enlaces de redes pagina marvel */
.row{
    padding: 25px 18px 5px 12px;
}

.marvelcito{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    justify-items: center;
}
